* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

header {
  background-color: #c4c4c4;
  width: 100%;
  padding: 1rem;
}

nav {
  background-color: #4276a7;
  text-emphasis-color: white;
}
nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 1rem;
}

nav ul li {
  padding: 1rem;
}

nav ul li a {
  color: rgb(168, 164, 164);
  text-decoration: none;
  font-size: 1.25rem;
  transition: all 0.2s ease;
}

nav ul li a:hover {
  color: white;
}

.headerText {
  font-size: 1rem;
}

.headerTitle {
  font-size: 2.5rem;
}

main {
  width: 100%;
  display: flex;
}

.active {
  color: white;
}

section.container {
  display: flex;
}

section.left,
section.right {
  padding: 1.5rem;
}

section.right h4 {
  font-size: 1.2rem;
  text-align: center;
}

section.right h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.right p {
  margin: 0rem 0rem 1.5rem 0rem;
}
/* 首頁done */
/* secondpage start */
.formula {
  text-align: center;
  margin: auto;
  color: red;
  font-size: 2rem;
}

section ol {
  padding-left: 1rem;
}

section h2 {
  font-weight: bolder;
}

/* third start */

div.center {
  display: flex;
  margin: 1rem;
}

div.center p {
  padding: 1rem;
}
/* 關於作者start */
.robinimg {
  width: 25vh;
  height: 25vh;
  border-radius: 50%;
  margin: auto;
}

section.right ul {
  padding-left: 1rem;
  font-weight: bolder;
}

/* other */
#curve_chart {
  width: 100%;
  height: 80%;
}
